<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <h1>This is my edit page</h1>
  </body>
</html>
