<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title>Check Me In</title>
  </head>
  <header class="mx-auto">
    <img src="https://i.imgur.com/PTTDYJd.jpg" alt="">
    <h1>Welcome to Check Me In</h1>
      <h3>The #1 automated check-in service on the interwebs!</h3>
        <h5>These are our currently scheduled Flight Check-ins</h5>
          <h6>(Click on a name for more details)</h6>
  </header>
  <body>
    <div class="container">
              <ul class="flightList py-2">
                <% for (i=0; i < flight.length; i++) { %>
                 <li>
                   <%=[i + 1]%>: <a href="/flights/<%= flight[i].id %>"><%= flight[i].firstName %> <%= flight[i].lastName%></a>
                 </li>
                <% } %>
              </ul>
              <nav>
              <a  href="/flights/new"><button class="index-button mx-auto mt-2">Create New Scheduled Check-in</button></a>
            </nav>
    </div>
  </body>
</html>
