<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Scheduled Flight Check-ins</h1>
      <ul>
        <% for (i=0; i < flight.length; i++) { %>
        <li> <%= flight[i].name %> </li>
        <% } %>
      </ul>
  </body>
</html>
