<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <h2>Don't let your check-in slip away again!</h2>
      <h4>Enter your details below and let us take care of the rest!<h4>

  </body>
</html>
