<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include partials/head.ejs %>
    <title>Check Me In</title>
  </head>
  <header>
    <h2>Don't let your check-in slip away again!</h2>
    <h4>Enter your details below and let us take care of the rest!</h4>
  </header>
  <body>
    <div class="container">

          <form class="py-2" action="/flights" method="POST">
            <ul class="createList ">
              <li><b>Name:</br>  </b> <input class="my-2 px-4" type="text" name="name"></li>
              <li><b>Airline:</br>  </b> <input class="my-2 px-4" type="text" name="airlineName"></li>
              <li><b>Flight Number:</br>  </b> <input class="my-2 px-4" type="number" name="flightNum"></li>
              <li><b>Confirmation Number:</br>  </b> <input class="my-2 px-4" type="number" name="confirmationNum"></li>
              <li><b>Flight Date:</br>  </b> <input class="my-2 px-4" type="date" name="flightDate"></li>
              <li><b>Check-in Time:</br>  </b> <input class="my-2 px-4" type="time" name="checkInTime"></li>
            </ul>
            <input class="addButton" type="submit" value="Add Listing"/>
          </form>
    </div>
  </body>
</html>
