header {
  text-align: center;
  width: 100%;
  margin: 20px;
}

body {
  background-image: linear-gradient(rgb(4, 26, 138), rgb(156, 156, 156));
  height: 1000px;
  background-repeat: no-repeat;
  color: white;
}


.container {
  height: 100%;
  width: 80%;
  /* align-items: stretch; */
}

li {
  list-style: none;
  text-decoration: none;
}
.flightList {
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 10px;
  border: 1px solid white;
  list-style: none;
  text-decoration: none;
  width: 30%;
  margin: auto;
  display: block;
  padding: 100px auto;
}

.index-button {
  margin: auto;
  display: block;
}

button {
  /* color: white; */
}

.show-edit {
  /* margin: 0 60px 0 30px; */
  margin: 0.5vw 8vw 0 21.5vw;
  display: block;
}

.show-delete {
  /* margin: 0 40px; */
  /* position: relative; */
  margin: 0.5vw 2vw 0 6vw;
  display: block;
}

.showList {
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 10px;
  border: 1px solid white;
  list-style: none;
  text-decoration: none;
  width: 50%;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
}

.createList {
  background-color: rgba(1, 1, 1, 0.5);
  border-radius: 10px;
  border: 1px solid white;
  list-style: none;
  text-decoration: none;
  width: 30%;
  padding: 10px;
  margin: auto;
  display: block;
  text-align: center;
}

input {
  text-align: center;
}

.addButton {
  margin: 0.5vw 0 0 35vw;
}

.submitButton {
  margin: 0.5vw 0 0 33vw;
}
